{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
    <div id="content-main">
        <div class="app-list">
            <div class="app-inventory module">
                <table>
                    <caption>
                        <a href="#" class="section" title="Developer Links">Developer Links</a>
                    </caption>
                    <tbody>
                        <tr>
                            <th scope="row">
                               <!-- THIS LINK IS NOW ENABLED AND CORRECT -->
                               <a href="{% url 'inventory-api:product-list' %}">View API Endpoint</a>
                            </th>
                            <td>View the browsable API for all products.</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <a href="{% url 'inventory:product_list' %}">View User Product List</a>
                            </th>
                            <td>View the user-facing product list page.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {{ block.super }}
    </div>
{% endblock %}