{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>User Feedback</h2>
    <p>Please use the form below to provide feedback for our Beta testing phase.</p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfAPIV79dLhxFPNMcUm6ppWLlPSj35f7eTnQcxgf9FcvnHtgQ/viewform?embedded=true" width="640" height="719" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
{% endblock %}
