<!-- inventory/templates/inventory/product_detail.html -->
{% extends "inventory/base.html" %}

{% block content %}
  <h2>Product Details: {{ product.name }}</h2>
  <p><strong>SKU:</strong> {{ product.sku }}</p>
  <p><strong>Price:</strong> ${{ product.price }}</p>
  <p><strong>Quantity on Hand:</strong> {{ product.quantity }}</p>
  <p><strong>Date Added:</strong> {{ product.date_created|date:"F d, Y" }}</p>
  <hr>
  <a href="{% url 'product-update' product.pk %}" class="btn btn-edit">Edit</a>
  <a href="{% url 'product-delete' product.pk %}" class="btn btn-delete">Delete</a>
  <a href="{% url 'product-list' %}" class="btn">Back to List</a>
{% endblock %}